body {
  font-family: roboto;
}
li {
  display: inline-flex;
  list-style: decimal;
  align-items: center;
}
li:nth-child(2n) {
  background-color: #c1acd6;
}
li > * {
  display: inline-block;
  /* border: solid black 0.5px; */
  padding: 10px;
}
.header-li {
  background-color: #726997;
}
.index {
  width: 30px;
}
.mission-name {
  width: 200px;
}
.launch-site {
  width: 200px;
}
.rocket-name {
  width: 100px;
}
.launch-time {
  width: 300px;
}
.header-li {
  /* color: #af77ff; */
  font-weight: bold;
}
.timer {
  width: 200px;
}
